body {
    background-color: #4143B1;
}
button {
    background-color: #5EF4D6;
}
div,
input {
    text-align: left;
    background-color: #221727;
    color: #F1FFF6;
    border: 1.5px solid #5EF4D6;
    border-radius: 10px;
    font-family: 'Viga', sans-serif;
}
.info {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}


h2{
    color:#5EF4D6;
    text-align: center;
}