body {
    background-color: #4143B1;
    display: flex;
    flex-wrap: wrap;
}
button {
    background-color: #5EF4D6;
    padding: 7px 30px;;
}
div,
input {
    text-align: left;
    background-color: #221727;
    color: #F1FFF6;
    border: 1.5px solid #5EF4D6;
    border-radius: 5px;
    /* font-family: 'Viga', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    padding: 5px;
}
.info {
    text-align: center;
}


h2{
    color:#5EF4D6;
    text-align: center;
}