* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4143B1;
    /* display: flex;
    flex-wrap: wrap; */
}

.info-container {
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 320px;
    background-color: #221727;
    color: #F1FFF6;
    border: 2px solid #5EF4D6;
    border-radius: 5px;
    /* font-family: 'Viga', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding: 18px;
    width: 95%;
    margin: 5px;
    max-width: 330px;
    margin: 5px 15px;
    min-height: 210px;
    /* display: inline-block; */
}

input {
    text-align: left;
    background-color: #221727;
    color: #F1FFF6;
    border: 2px solid #5EF4D6;
    border-radius: 5px;
    /* font-family: 'Viga', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    padding: 15px;
    width: 95%;
    margin: 5px;
    max-width: 330px;
    /* display: inline-block; */
    margin: 5px 15px;
    font-size: 18px;
}

button {
    background-color: #5EF4D6;
    width: 95%;
    margin: 5px;
    border: none;
    border-radius: 5px;
    max-width: 330px;
    padding: 7px 20px;;
    margin: 10px 15px;
    font-size: 18px;
}

h1{
    color:#5EF4D6;
    text-align: center;
    margin: 15px auto;
    font-family: 'Viga', sans-serif;
    text-shadow: 2px 2px #221727;
}
img {
    margin-bottom: 20px;
  
}

.icons {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    padding: 8px;
    background-color: #24E5A3;
    color: white;
    border-radius: 50%;
    border: 1px solid #5EF4D6;
}

.form-container{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
}